<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Person List</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>User List</h1>
<a href="/user/addUser">Add Person</a>
<br/><br/>
<div>
  <table border="1">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
      <th>Email</th>
    </tr>
    <tr th:each ="user : ${users}">
      <td th:utext="${user.firstName}">...</td>
      <td th:utext="${user.lastName}">...</td>
      <td th:utext="${user.age}">...</td>
      <td th:utext="${user.email}">...</td>
    </tr>
  </table>
</div>
</body>
</html>